
<div class="mx-auto" style="width:80%;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-5 mb-3 ">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
