{% extends 'base.html.twig' %}

{% block title %}Modifier contact{% endblock %}

{% block body %}
    <h1 class="ms-5">Modifier contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_contact_index') }}" class="btn btn-success ms-5 mb-2">Retour à la Liste</a>

    {{ include('contact/_delete_form.html.twig') }}

   
{% endblock %}
