{% extends 'base.html.twig' %}

{% block title %}Modifier Salarié{% endblock %}

{% block body %}
    <h1 class="ms-5">Modifier salarié</h1>

    {{ include('user/update_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_user_index') }}" class="btn btn-success ms-5">Retour à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
